<template>
  <OverlayModal @close="$emit('close')">
    <template #content>
      <div>
        <NewPostForm isEdit :postData="post" @update="update" />
      </div>
    </template>
  </OverlayModal>
</template>

<script>
import OverlayModal from '../elements/OverlayModal'
import NewPostForm from './NewPostForm'
export default {
  name: 'PostEditModal',
  components: { OverlayModal, NewPostForm },
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  methods: {
    update() {
      this.$emit('update')
      this.$emit('close')
    }
  }
}
</script>
