<template>
  <OverlayModal @close="$emit('close')">
    <template #content>
      <div class="post-delete">
        <span>Вы действительно хотите удалить запись?</span>
        <div class="post-delete__actions">
          <button class="btn post-delete__confirm" @click="deletePost">
            Подтвердить
          </button>
          <button class="btn post-delete__cancel" @click="$emit('close')">
            Отмена
          </button>
        </div>
      </div>
    </template>
  </OverlayModal>
</template>

<script>
import OverlayModal from '../elements/OverlayModal'

export default {
  name: 'PostDeleteModal',
  components: { OverlayModal },

  methods: {
    deletePost() {
      this.$emit('delete')
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.post-delete {
  padding: 24px;

  &__actions {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  &__confirm {
    background: #036614;
  }

  &__cancel {
    background: #a61b11;
  }

  .btn {
    height: 46px;
    color: #fff;
  }
}
</style>
