<template>
  <div class="post__actions f-row">
    <button class="btn post__edit" @click="$emit('edit')">
      <svg-icon name="pencil" height="20" width="20" />
    </button>
    <button class="btn post__edit" @click="$emit('delete')">
      <svg-icon name="trash" height="20" width="20" />
    </button>
    <button
      class="btn post__check"
      :class="{ 'post__check--checked': checked }"
      @click="$emit('check')"
    >
      <svg-icon name="checked" height="20" width="20" />
    </button>
  </div>
</template>

<script>
export default {
  name: 'PostActions',
  props: {
    checked: {
      type: Boolean,
      default: false
    }
  }
}
</script>
