<template>
  <div class="error-page">
    <span class="error-page__title">Упс! Страница не найдена</span>
    <nuxt-link to="/" class="btn btn--blue error-page__btn"
      >На главную</nuxt-link
    >
  </div>
</template>

<script>
export default {
  name: 'error404',

  props: {
    error: {
      type: Object,
      required: false
    }
  }
}
</script>
