<template>
  <div class="page error-page">
    <span class="error-page__title">Упс! Что-то пошло не так</span>
    <button class="btn btn--blue error-page__btn" @click="refresh">
      Обновить
    </button>
  </div>
</template>

<script>
export default {
  name: 'error500',

  props: {
    error: {
      type: Object,
      required: false
    }
  },

  methods: {
    refresh() {
      window.location.reload()
    }
  }
}
</script>
