.wrapper {
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
      margin: auto;
      padding: 100px 24px;
      width: 100%;
      height: 100%;
      min-height: calc(100vh - 136px);
      max-width: 1440px;

      @media (max-width: 440px) {
        padding: 100px 0;
      }
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ul[class],
  ol[class] {
    padding: 0;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  body {
    min-height: 100vh;
    font-family: 'Rubik';
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  ul[class],
  ol[class] {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  img {
    display: block;
    max-width: 100%;
  }

  article > * + * {
    margin-top: 1em;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      transition-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
    }
  }

.fade2-enter-active,
.fade2-leave-active {
	transition: opacity .2s;
}

.fade2-enter,
 .fade2-leave-to {
	opacity: 0;
}