.f-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 8%);
  background: $white;

  &--transparent {
    opacity: .4;
  }
}

.btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  height: 42px;
  font-family: "Rubik";
  font-size: 17px;
  white-space: nowrap;
  color: $white;
  background: none;
  transition: .1s ease-out;
  cursor: pointer;

  &--blue {
    color: $blue;
  }
}

.section-title {
  margin: 30px auto;
  font-size: 26px;
  text-align: center;
  color: #263829;
}

@keyframes blinking {
  0% { display: visible; }
  50% { opacity: .1; }
  100% { visibility: hidden }
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &__header {
    font-size: 26px;
  }
}

.loading {
  margin: auto;
  width: 40px;
  height: 40px;
  background-image: url("/img/spinner.svg") !important;
	background-position: center center;
	background-repeat: no-repeat;
  animation: spin 5s infinite linear;
}