.navbar {
    position: fixed;
    top: 0;
    z-index: 500;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 6px -2px rgb(0 0 0 / 30%);
    background-color: rgba(241, 242, 244, 80%);
    backdrop-filter: blur(16px);

    &__left {
        padding: 16px;
    }

    &__right {
        padding: 16px;
        height: 100%;
        background-color: #191c1f;

        a {
            color: $white;
        }

        svg {
            fill: $white;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-family: 'Rubik';
        font-weight: 500;
        color: #000;

        svg {
            margin-right: 6px;
        }

        @media (max-width: 350px) {
            font-size: 12px;
        }
    }
}