.post {
    overflow-wrap: break-word;
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 600px;

    &__header {
      justify-content: space-between;
    }

    &__actions {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
    }

    &__cover {
      margin-top: 16px;
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
    }

    &__check {
        transition: 0.4s all ease-in-out;

      svg {
        fill: #3d71c4;
      }

      &--checked {
        svg {
          fill: #36030c;
        }
      }
    }

    &__body {
      margin-top: 24px;
      text-align: justify;
    }

    &__email {
      display: flex;
      align-items: center;
      margin-left: 16px;
      color: #22345e;

      svg {
        width: 16px;
        height: 12px;
      }
    }

    &__footer {
      justify-content: space-between;
      margin-top: 20px;
      color: rgba(0, 0, 0, 60%);
    }

    &__date {
      margin-top: 16px;
      color: rgba(0, 0, 0, 60%);
    }
  }