<template>
  <div class="page">
    <div class="post card" :class="{ 'card--transparent': post.checked }">
      <div class="post__header f-row">
        <span class="post__title">{{ post.title }}</span>
        <PostActions
          :checked="post.checked"
          @delete="isDeleteMode = true"
          @check="checkPost"
          @edit="isEditMode = true"
        />
      </div>
      <span class="post__body" v-html="post.content"></span>
      <template v-if="post.images">
        <div
          class="post__cover"
          :style="`background-image: url(${post.images[0]})`"
        />
      </template>
      <div class="post__footer f-row">
        <div class="post__author f-row">
          Автор: {{ post.author
          }}<a
            v-if="post.email"
            :href="`mailto:${post.email}`"
            class="post__email"
            ><svg-icon name="envelope" />{{ post.email }}</a
          >
        </div>
      </div>
      <span class="post__date">Опубликовано {{ getPostDate }}</span>
    </div>
    <CommentSection v-if="comments.length" :comments="comments" />
    <transition name="fade2">
      <PostEditModal
        v-if="isEditMode"
        :post="post"
        @close="isEditMode = false"
        @update="getPostData"
      />
      <PostDeleteModal
        v-if="isDeleteMode"
        @close="isDeleteMode = false"
        @delete="deletePost"
      />
    </transition>
  </div>
</template>

<script>
import CommentSection from '@/components/posts/CommentSection'
import PostEditModal from '@/components/posts/PostEditModal'
import PostDeleteModal from '@/components/posts/PostDeleteModal'
import PostActions from '@/components/posts/PostActions'

export default {
  name: 'PostPage',
  components: { CommentSection, PostEditModal, PostActions, PostDeleteModal },
  data: () => ({
    post: {},
    isLoading: false,
    comments: [],
    isEditMode: false,
    isDeleteMode: false
  }),
  async fetch() {
    await this.getPostData()
    await this.getPostComments()
  },
  computed: {
    getPostDate() {
      if (this.post?.created_at) {
        return (
          this.$moment
            .unix(this.post.created_at.seconds, 'YYYY-MM-DD')
            .format('DD MMM HH:mm') ||
          this.$moment.utc(this.post.created_at).format('DD MMM HH:mm')
        )
      }
    }
  },
  methods: {
    async getPostData() {
      this.isLoading = true
      const db = this.$firebase.firestore()
      const snap = await db.collection('posts').doc(this.$route.params.id).get()
      if (snap.exists) {
        this.post = snap.data()
      } else {
        console.log('error')
      }
      this.isLoading = false
    },
    async getPostComments() {
      const db = this.$firebase.firestore()
      try {
        const querySnapshot = await db
          .collection('comments')
          .orderBy('created_at', 'desc')
          .where('post_id', '==', this.$route.params.id)
          .get()
        querySnapshot.docs.forEach((doc) => {
          this.comments.push({
            id: doc.id,
            ...doc.data()
          })
        })
      } catch (e) {
        console.log(e)
      }
    },
    async checkPost() {
      try {
        await this.$firebase
          .firestore()
          .collection('posts')
          .doc(this.$route.params.id)
          .update({
            checked: this.post.checked ? false : true
          })

        console.log('success!')
        this.getPostData()
        console.log('new state', this.post.checked)
      } catch (e) {
        console.log(e)
      }
    },
    async deletePost() {
      try {
        await this.$firebase
          .firestore()
          .collection('posts')
          .doc(this.$route.params.id)
          .delete()
        this.$router.push('/')
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
